*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --gradient-violet: hsl(273 75% 66%);
  --gradient-blue: hsl(240 73% 65%);
  --text-dark: hsl(234 11% 17%);
  --text-light: hsl(240 6% 50%);
  --card-bg: hsl(0 0% 100%);
  --dividers: hsl(240, 5%, 91%);
  --icons: hsl(9 100% 64%);
  --shadow: rgba(0 0 0 /0.15);
  --family: 'Kumbh Sans', sans-serif;
}

html{
  height: 100%;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body{
  background-image: linear-gradient(
    to bottom, 
    var(--gradient-violet), 
    var(--gradient-blue)
  );
  background-attachment: fixed;
  font-family: var(--family);
  line-height: 1.5;
  font-weight: normal;
}

.container {
  width: 100%;
  height: 100%;
  padding: 3rem 2rem 0 2rem;

  position: relative;

  display: grid;
  place-items: center;
}

.img-woman {
  display: block;
  width: 25rem;
  height: 25rem;

  position: absolute;
  top: 1.5rem;
  left: 50%;
  transform: translateX(-50%);
}

.cards {
  background-image: url(../images/bg-pattern-mobile.svg);
  background-repeat: no-repeat;
  background-position: center top;
  width: 32rem;
  height:auto;
  background-color: var(--card-bg);
  border-radius: 2rem;
  box-shadow: 0 .5rem 1rem var(--shadow);
  padding-bottom: 3.5rem;
  margin-top: 10rem;
}

.cards h1 {
  margin-top: 12rem;
  font-size: 3.2rem;
  font-weight: 700;
  color: var(--text-dark);
  text-align: center;
}

.question {
  list-style: none;
  padding: 0 2rem;
  margin-top: 2rem;
  font-size: 1.2rem;
  color: var(--text-light);
}

.question li {
  padding: 1rem 0;
  border-bottom: 1px solid var(--dividers);
}

.question h3 {
  display: inline;
  font-size: 1.3rem;
}

.question span {
  float: right;
  color: var(--icons);
  cursor: pointer;
}

.fa-chevron-down {
  line-height: 1.5;
}

.accordion {
  max-height: 0;
  overflow: hidden;
  transition: max-height .8s ease-in-out;
  padding-top: 1rem;
}

.active {
  max-height: 100px;
  padding-top: 1rem;
}

.accordion p {
  width: 25.5rem;
  font-size: 1.15rem;
  font-weight: 400;
}

